<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scopes</key>
	<string>openid profile offline_access device_sso</string>
	<key>redirectUri</key>
	<string>com.okta.erikmanor:/callback</string>
	<key>clientId</key>
	<string>0oa1ghpsx6FRoW5205d7</string>
	<key>issuer</key>
	<string>https://erikmanor.okta.com/oauth2/aus1ghptecZi9Lv0U5d7</string>
	<key>logoutRedirectUri</key>
	<string>com.okta.erikmanor:/logout</string>
	<key>audience</key>
	<string>http://sso</string>
</dict>
</plist>
