<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scopes</key>
	<array>
		<string>offline_access</string>
		<string>openid</string>
		<string>profile</string>
	</array>
	<key>redirectUri</key>
	<string>com.okta.example:/callback</string>
	<key>clientSecret</key>
	<string>thisIsAFakeClientSecret</string>
	<key>clientId</key>
	<string>GJv1mKQtUAUbTalBeQLs</string>
	<key>issuer</key>
	<string>https://example.oktapreview.com</string>
</dict>
</plist>
