<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scopes</key>
	<string>openid profile offline_access</string>
	<key>redirectUri</key>
	<string>com.ios-okta-sdk-ui-test-app:/callback</string>
	<key>clientSecret</key>
	<string>disazSP5CCgK1UTEdaolWVDgQvnfkHPXyC3MpP2W</string>
	<key>clientId</key>
	<string>0oahomw6udEHYmQDA0h7</string>
	<key>issuer</key>
	<string>https://lohika-um.oktapreview.com/oauth2/default</string>
</dict>
</plist>
