<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scopes</key>
	<string>openid profile offline_access</string>
	<key>redirectUri</key>
	<string>com.oktapreview.{Your Organization}:/callback</string>
	<key>clientSecret</key>
	<string>{Your Client Secret}</string>
	<key>clientId</key>
	<string>{Your Client ID}</string>
	<key>issuer</key>
	<string>https://{Your Organization}.oktapreview.com/oauth2/default</string>
</dict>
</plist>
