# General
*.swp
*.swo
*.rbo
*.gem
.DS_Store
.rbenv-version
xcuserdata
project.xcworkspace
Okta.xcworkspace/
DerivedData
/.build

# Examples
Example/Podfile.lock
Example/Pods
Example/build/

# Xcode
*.xccheckout

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
Packages/
Package.pins
Package.resolved
/.swiftpm

# CocoaPods
Pods/

# Carthage
Carthage/Checkouts
Carthage/Build/