language: objective-c
osx_image: xcode11.5
jobs:
  include:
    - stage: Unit test Swift Package Manager
      name: MacOS
      script:
      - swift test
    - stage: Unit tests iOS
      name: iOS
      script:
      - xcodebuild -project okta-oidc.xcodeproj -scheme "okta-oidc-ios" -destination "platform=iOS Simulator,OS=latest,name=iPhone 11" clean test
    - stage: Unit tests MacOS
      name: MacOS
      script:
      - xcodebuild -project okta-oidc.xcodeproj -scheme "okta-oidc-mac" -destination "platform=macOS" clean test
    - stage: UI tests iOS
      name: iOS
      script:
      - xcodebuild -project okta-oidc.xcodeproj -scheme "okta-oidc" -destination "platform=iOS Simulator,OS=latest,name=iPhone 11" clean test
